//Stylesheet for colors and fonts for the entire project

//Colors used for backgrounds and border
$primary-bg-color: #99a285;
$secondary-bg-color: #f9f2c4;
$primary-bg-undertone:#929672;
$secondary-bg-undertone: #caca8d;

//Colors used for text and buttons

$primary-tx-color: #464f41;
$secondary-tx-color: #bfcba8;

//These are used for fonts
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap');

$font-primary: "Tomorrow", sans-serif;